/*General*/

* {
  box-sizing: border-box;
  color: white;
}

:root {
  --navy: #0B1536;
  --light-pink: lightpink;
  --magenta: #e100ff;
  --main-font: 'Times New Roman', Times, serif;
  --heading-font: 'Headland One', 'Roboto', 'Times New Roman', Times, serif;

}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  font-family:var(--main-font);
  font-size: 16px;
  background: linear-gradient(to bottom right, purple, var(--magenta));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  animation: transitionIn 2s ease;
}

html {
  scroll-behavior: smooth;
}


section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 7vh;
  padding-left: 2vw;
  padding-right: 2vw;
}


h1 {
  text-align: center;
  font-family: var(--heading-font);
  font-size: clamp(14px, 5vw + 2px, 50px);
  letter-spacing: 4px;
  color: var(--light-pink);
  text-decoration: underline;
}

h2{
  font-family: var(--heading-font);
  text-align: center;
  font-size: clamp(14px, 4vw + 2px, 40px);
}


p {
  font-size: clamp(14px, 2vw + 5px, 25px);
  margin-bottom: 5vh;
}

.button-link {
  display: inline-block;
  border-radius: 5px;
  padding: 1.5vw 2vw;
  background-color: white;
  color: #0B1536;
  text-decoration: none;
  font-family: 'Roboto', 'Courier New', 'Times New Roman', Times, serif;
  font-size: 2vw;
  font-weight: 500;
  border-radius: 5px;
}

.button-link:hover {
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, .5);
  transition: .5s ease;
}

ol{
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  text-align: center;
  line-height: 10vh;
  font-size: clamp(14px, 3vw + 7px, 25px);
  margin-bottom: 10vh;
}

/*Website Animation*/
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Header Stuff*/
#header-div {
  font-family: "Gugi", Arial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;

  align-items: center;
  background-color: var(--navy);
  margin-bottom: 10vh;
  margin-right: 0;
}

.header-sections {
  display: flex;
  flex: 1;
  text-decoration: none;
  color: white;
  text-decoration: underline;
  justify-content: center;
  font-size: clamp(4px, 2vw + 5px, 30px);
  padding: 4vw;
  font-weight: bold;
  text-transform: uppercase;

}

.header-sections:hover {
  color: rgb(32, 145, 231);
  transition: .5s ease;
  cursor: pointer;
  text-shadow: 0px 0px 50px var(--magenta), 0 0 10px purple;

}

#intro {
  height: 20vh;
  text-transform: uppercase;
  font-family: sans-serif;
}

#intro-h1{
  color:antiquewhite;
  font-style: oblique;
  font-family: var(--heading-font);
  text-decoration:none;
}

#Mail {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  overflow-y: hidden;
  margin-bottom: 0;
}

#picture {
  display: block;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

#picture:hover {
  filter: brightness(1.5);
  cursor: pointer;
}


/*Different Size Screens*/
@media (max-width: 600px) {
  body {
    width: 100%;
  }

  #header-div a:last-child {
    margin-right: 2vw;
  }

  button {
    font-size: 3vw;
    padding: 2vw;
  }

  #intro {
    height: 10vh;
    margin-bottom: 5vh;
  }

  #picture-link {
    height: 10vh;
  }

}

@media (min-width: 601px) {
  body {
    width: 100%;
  }

  #header-div a:last-child {
    margin-right: 2vh;
  }

  button {
    font-size: 3vw;
    padding: 2vw;
  }

  #intro {
    height: 10vh;
    margin-bottom: 5vh;
  }

  #picture-link {
    height: 30vh;
  }

}


@media (min-width: 768px) {
  body {
    width: 100%;
  }

  #header-div a:last-child {
    margin-right: 2vh;
  }

  button {
    font-size: 3vw;
    padding: 2vw;
  }

  #intro {
    height: 20vh;
    margin-bottom: 2vh;
  }

  #picture-link {
    height: 60vh;
  }


}

@media (min-width: 992px) {
  body {
    width: 100%;
  }

  #header-div a:last-child {
    margin-right: 5vh;
  }

  button {
    font-size: 2vw;
    padding: 1vw;
  }

  #intro {
    height: 20vh;
    margin-bottom: 2vh;
  }

  #Mail {
    margin-top: 15vh;
  }

  #picture-link {
    height: 60vh;
  }

}